*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e8faf4;
}
#displayTodo{
    display: flex;
    margin: auto;
}
#saveTodobtn{
    display:none;
}
#cancelbtn{
    display: none;
}
.buttons{
    display: flex;
    justify-content: space-between;
    margin: 14px 0px
}
.card{
    border: 2px solid black;
}
.card p{
    font-size: 18px;
}
.input-group{
    border: 3px solid black;
}
.input-group input{
    font-size: 21px;
}
